.pardotmarketing-form.is-submitting {
  opacity: 0.5;
  pointer-events: none;
}

.pardotmarketing-msg {
  margin-bottom: 1em;
}

.pardotmarketing-label-txt {
  display: block;
}

.pardotmarketing-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.pardotmarketing-checkbox {
  width: 100%;
}

.pardotmarketing-checkboxes--inline .pardotmarketing-checkbox {
  width: auto;
}

.pardotmarketing-fields {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
}

.pardotmarketing-field {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.pardotmarketing-field--width-mobile-default,
.pardotmarketing-field--width-mobile-100 {
  width: 100%;
}

.pardotmarketing-field--width-mobile-80 {
  width: 80%;
}

.pardotmarketing-field--width-mobile-75 {
  width: 75%;
}

.pardotmarketing-field--width-mobile-66 {
  width: 66%;
}

.pardotmarketing-field--width-mobile-60 {
  width: 60%;
}

.pardotmarketing-field--width-mobile-50 {
  width: 50%;
}

.pardotmarketing-field--width-mobile-40 {
  width: 40%;
}

.pardotmarketing-field--width-mobile-33 {
  width: calc(100% / 3);
}

.pardotmarketing-field--width-mobile-25 {
  width: 25%;
}

@media (min-width: 768px) {
  .pardotmarketing-field--width-tablet-default {
    width: inherit;
  }

  .pardotmarketing-field--width-tablet-100 {
    width: 100%;
  }

  .pardotmarketing-field--width-tablet-80 {
    width: 80%;
  }

  .pardotmarketing-field--width-tablet-75 {
    width: 75%;
  }

  .pardotmarketing-field--width-tablet-66 {
    width: 66%;
  }

  .pardotmarketing-field--width-tablet-60 {
    width: 60%;
  }

  .pardotmarketing-field--width-tablet-50 {
    width: 50%;
  }

  .pardotmarketing-field--width-tablet-40 {
    width: 40%;
  }

  .pardotmarketing-field--width-tablet-33 {
    width: 33%;
  }

  .pardotmarketing-field--width-tablet-25 {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .pardotmarketing-field--width-default {
    width: inherit;
  }

  .pardotmarketing-field--width-100 {
    width: 100%;
  }

  .pardotmarketing-field--width-80 {
    width: 80%;
  }

  .pardotmarketing-field--width-75 {
    width: 75%;
  }

  .pardotmarketing-field--width-66 {
    width: 66%;
  }

  .pardotmarketing-field--width-60 {
    width: 60%;
  }

  .pardotmarketing-field--width-50 {
    width: 50%;
  }

  .pardotmarketing-field--width-40 {
    width: 40%;
  }

  .pardotmarketing-field--width-33 {
    width: 33%;
  }

  .pardotmarketing-field--width-25 {
    width: 25%;
  }
}
