.pardotmarketing-form-handler-fields {
  display: flex;
  flex-wrap: wrap;
}

.pardotmarketing-form-handler-input,
.pardotmarketing-form-handler-select {
  margin: 0;
}

.pardotmarketing-form-handler-button {
  border-radius: 5px;
  cursor: pointer;
  line-height: 1;
  padding: 0.8em 2em;
  transition: all 0.3s;
}

.pardotmarketing-form-handler-form-is-submitting {
  pointer-events: none;
}

label.pardotmarketing-form-handler-field-error {
  color: red;
  line-height: 1.2;
  margin-top: 5px;
}
